<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrap {
            background: aqua;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .wrapForm {
            display: flex;
            flex-direction: column;
            width: 300px;

        }
    </style>
</head>
<body class="wrap">
    LOGIN PAGE
    <form action="/login" method="post" class="wrapForm">
        firstName <input type="text" name="firstName">
        lastName <input type="text" name="lastName">
        email <input type="text" name="email">
        password <input type="text" name="password">
        age <input type="text" name="age">
        city <input type="text" name="city">
        <input type="submit" value="OK">
    </form>
</body>
</html>